



    <div class="row p-0 m-0 ">

      <div class="col col_1 p-3">
       <a class="nav-link " style="color: white;"   routerLink="/home" routerLinkActive="just_apply">Home</a>
     </div>

      <div class="col col_1 p-3">
        <a class="nav-link " style="color: white;"   routerLink="/job" routerLinkActive="just_apply">Jobs</a>
      </div>

      <div class="col col_1 p-3">
        <a class="nav-link" style="color: white;"  routerLink="/deploy" routerLinkActive="just_apply">Deploy</a>
      </div>
      
    </div>
